<section class="block container block-domain">
    <header class="block__header">
      <h2>Starting at $8.99 per month</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, vero.</p>
    </header>
    <div class="input-group ">
      <input type="text" class="input" placeholder="Enter Domain Name Here...">
      <button class="btn btn--accent">
        <svg class="icon icon--yellow">
          <use xlink:href="Images/sprite.svg#search"></use>
        </svg>search</button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $8.99</span></li>
    <li>.sg $9.99</li>
    <li>.space $10.99</li>
    <li>.info $13.99</li>
    <li>.net $9.99</li>
    <li>.xyz $9.99</li>
  </ul>
  </section>