<input type="text" class="input" placeholder="Enter Domain Name Here...">
    <!--Input with icon in front  -->
<div class="input-group">
        <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="Images/sprite.svg#easy"></use>
              </svg>
        </span>        <input type="text" class="input" placeholder="Enter Domain Name Here...">
    </div>

    <!-- Input with search button -->
    <div class="input-group">
        <button class="btn btn--accent">search</button>
        <input type="text" class="input" placeholder="Enter Domain Name Here...">
    </div>
