<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, debitis possimus veritatis soluta eveniet sunt! Expedita veniam ex dolorum et.
    </p>
    <footer class="quote__footer">
        <div class="media">
            <div class="media__image ">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="Images/sprite.svg#line"></use>
                  </svg>
            </div>
            <div class="media__body">
            <h3 class="media__title quote__author">Marcus Johnson</h3>
            <p class="quote__company">Obmet Corp. CEO</p>
            </div>
        </div>
    </footer>
 </blockquote>